.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.address-map {
  margin-bottom: 9px;
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);

  transition: color var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-link {
  margin-bottom: 9px;
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);

  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
}

.join {
  margin-left: 81px;
  padding-top: 12px;
}
