.priorities {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-header.priorities {
  display: none;
}

.priorities-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.priorities-item {
  max-width: 450px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;

    &:last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n-1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;

    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.priorities-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;

  border-radius: 4px;
}

.priorities-header {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

.priorities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
