.priorities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.priorities-list {
  display: flex;
}

.priorities-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.priorities-header {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

.priorities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.priorities-icon-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
